/* ===== common ===== */
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.logo {
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.logo:hover {
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}

.logo:active {
    background-color: #ba2732;
    border-bottom-color: #8e1e26;
}

.button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
    background-color: #ee3643;
}

.button:hover{
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.text {
    font-family: 'PT sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
}

.wrap {
    max-width: 940px;
    margin: 0 auto;
}
/* ===== /common ===== */

/* ===== header ===== */
.header {
    font-family: 'Cuprum', sans-serif;

    background-color: #f3f7f8;

    padding-bottom: 60px;
}

.header-menu {
    background-color: #293449;
}

.header-menu .wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.header-menu .header-menu__logo {
    position: absolute;
    left: 0;
    top: 0;

    width: 220px;
    min-height: 47px;
    padding-top: 13px;
    padding-bottom: 6px;

    vertical-align: middle;
    text-align: center;
}

.header-menu .header-menu__btn {
    width: 150px;
    height: 42px;
    padding-top: 12px;

    text-align: center;

    background-color: #63a63e;
}

.header-menu .header-menu__search {
    position: relative;

    width: 270px;
    min-height: 42px;
}

.header-search .header-search__btn {
    position: absolute;
    left: 0;
    top: 0;

    width: 45px; 
    padding: 0;

    cursor: pointer;
}

.header-search .header-search__field {
    width: 270px;
    padding-left: 49px;
}

.header-search .header-search__btn,
.header-search .header-search__field {
    min-height: 42px;

    vertical-align: middle;

    border: none;
    background: none;
}

.header-menu a,
.header-search .header-search__field::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

.header-menu .header-menu__bookmarks,
.header-menu .header-menu__basket {
    width: 150px;
    min-height: 42px;
    padding-top: 12px;
}

.header-menu .header-menu__bookmarks {
    padding-left: 44px;
}

.header-menu .header-menu__basket {
    padding-left: 49px;
}

.header-search .header-search__field:hover,
.header-menu .header-menu__bookmarks:hover,
.header-menu .header-menu__basket:hover {
    background-color: #212a3a;
}

.header-menu .header-menu__bookmarks:active,
.header-menu .header-menu__basket:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.header-menu .header-menu__btn:hover {
    background-color: #5fbb2d;
}

.header-menu .header-menu__btn:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.header-search .header-search__field:focus {
    background-color: #fff;
}

.header-search .header-search__field:focus::placeholder {
    color: #000000;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 158px;
    padding-left: 53px;
}

.header-info h1 {
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: #ee3643;

    padding-top: 9px;
}

.header-info .header-info__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 270px;
    min-height: 68px;
}

.header-contacts .header-contacts__phone {
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 3px solid #ffffff;

    width: 270px;
    min-height: 45px;
}

.header-contacts .header-contacts__address {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;
    
    padding-left: 10px;
    margin-bottom: -7px;
}

.header-login {
    width: 281px;
    min-height: 68px;
}

.header-login .header-login__authorization {
    display: inline-block;
    vertical-align: top;

    width: 121px;
    margin-right: 6px;
}

.header-login .header-login__registration {
    display: inline-block;
    vertical-align: top;

    width: 150px;
}

.header-login .header-login__authorization,
.header-login .header-login__registration,
.header-login .header-login__profile {
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;

    min-height: 45px;
}

.header-login .header-login__orders,
.header-login .header-login__personal {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #32425c;
    text-decoration: underline;
}

.header-login .header-login__authorization:hover,
.header-login .header-login__registration:hover,
.header-login .header-login__orders:hover,
.header-login .header-login__personal:hover {
    color: #ee3643;
}

.header-login .header-login__authorization:active,
.header-login .header-login__registration:active,
.header-login .header-login__profile:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-login .header-login__orders:active,
.header-login .header-login__personal:active {
    color: rgba(50, 66, 92, 0.3);
}

.header-navigation .header-navigation__list {
    display: flex;

    list-style: none;

    margin: 0;
    padding: 0;
}

.header-navigation .header-navigation__link {
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;

    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.header-navigation .header-navigation__link:hover {
    background-color: #293449;
}

.header-navigation .header-navigation__link:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.header-basket--catalog {
    background-color: #ee3643;
}
/* ===== /header ===== */

/* ===== categories ===== */
.categories,
.categories a {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff;
}

.categories {
    padding-top: 60px;
    padding-bottom: 33px;
}

.categories .wrap {
    position: relative;
}

.categories h3 {
    margin: 0;
    padding: 0;
}

.categories .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    list-style: none;

    margin: 0;
    padding: 0;
}

.categories-item {
    width: 300px;
    min-height: 123px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.categories-item:not(:first-child) {
    margin-left: 20px;
}

.categories-item {
    margin-bottom: 20px;
}

.categories-item:first-child {
    background-color: #ffbf47;
}

.categories__item:nth-child(2) {
    background-color: #3bbce3;
}

.categories__item:nth-child(3) {
    background-color: #c682c2;
}

.categories__item:nth-child(4) {
    background-color: #8ed78f;
}

.categories__item:nth-child(6) {
    background-color: #ffc047;
}

.categories-item .categories-item__heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.categories-item .categories-item__link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.categories-item .categories-item__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.categories-item .categories-item__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    position: absolute;
    left: 0;
    bottom: 20px;

    width: 620px;
    height: 266px;
}

.slider-item {
    height: 266px;
}

.slider-item:first-child {
    background-image: url(../img/slide1.jpg);
}

.slider-item:last-child {
    background-image: url(../img/slide2.jpg);
}

.slider-item {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-item.active {
    display: block;
}

.slider-item .slider-item__heading {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-item .slider-item__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
/* ===== /categories ===== */

/* ===== products ===== */
.popular {
    display: flex;
    justify-content: space-between ;

    background-color: #f9f5f0;

    min-height: 89px;
}

.popular .popular__heading {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.products .products__list {
    display: flex;
    flex-wrap: wrap;

    font-family: 'PT sans', sans-serif;
    font-weight: bold;

    list-style: none;
    margin: 0;
    padding: 20px 0 20px;
}

.products .products__item {
    width: 220px;
    min-height: 317px;

    border: 1px solid #eaeaea;
}

.products .products__item:not(:last-child) {
    margin-right: 20px;
}

.products-item .products-item__heading {
    font-size: 18px;
    line-height: 20px;
    color: #000000;

    margin: 0;
    padding: 0;
}

.products-item .products-item__sale,
.products-item .products-item__btn {
    font-size: 17px;
    line-height: 18px;
}

.products-item .products-item__sale {
    color: #a9a9a9;
    text-decoration: line-through;
}

.products-item .products-item__btn {
    color: #ffffff;

    background-color: #ee3643;
}

.products-item .products-item__btn:hover {
    background-color: #ca2c37;
}

.products-item .products-item__btn:active {
    background-color: #ba2732;
}

.product-hover {
    display: none;
}

.product-hover .product-hover__bookmarks,
.product-hover .product-hover__buy {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;

    border: none;
}

.product-hover .product-hover__buy {
    color: #ffffff;
    
    background-color: #63a63e;
    border-bottom: 3px solid #367315;
}

.product-hover .product-hover__buy:hover {
    background-color: #5fbb2d;
}

.product-hover .product-hover__buy:active {
    background-color: #518534;
    border-color: #518534;
}

.product-hover .product-hover__bookmarks {
    color: #32425c;

    background: none;
    border: 3px solid #63a63e;
}

.product-hover .product-hover__bookmarks:hover {
    border-color: #32425c;
}

.product-hover .product-hover__bookmarks:active {
    color: rgba(50, 66, 92, 0.3);

    border-color: rgba(50, 66, 92, 0.3);
}

.products-item:hover .products-item__img {
    display: none;
}

.products-item:hover .product-hover {
    display: block;
}
/* ===== /products ===== */

/* ===== manufacturers ===== */
.manufacturers .manufacturers__list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 20px 0 65px;
}

.manufacturers .manufacturers__item {
    width: 220px;
    margin-bottom: 20px;

    border: 1px solid #eaeaea;
}

.manufacturers .manufacturers__item:not(:nth-child(4n + 4)) {
    margin-right: 20px;
}
/* ===== /manufacturers ===== */

/* ===== services ===== */
.services {
    background-color: #f4f8fa;

    padding-top: 68px;
    padding-bottom: 98px;
}

.services .services__heading ,
.services-tab .services-tab__heading {
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
}

.services .services__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

    margin-bottom: 34px;
}

.services .services__text {
    margin: 0;
    padding: 0;
    margin-bottom: 71px;
}

.services .services__list {
    display: inline-block;
    vertical-align: top;

    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;

    width: 240px;
    min-height: 186px;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}

.services .services__item {
    min-height: 62px;

    cursor: pointer;

    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    background-color: #32425c;
}

.services .services__item:not(.active):hover {
    background-color: #293449;
}

.services .services__item.active {
    border: none;
    background-color: #ffffff;
    color: #32425c;
}

.services-tab .services-tab__heading {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #32425c;

    margin-bottom: 29px;
}

.services-tab .services-tab__text {
    margin: 0;
    padding: 0;
}

.services-tab {
    display: none;
}

.services-tab.active{
    display: inline-block;
    vertical-align: top;
}
/* ===== /services ===== */
 
/* ===== company ===== */
.company {
    padding-top: 82px;
    padding-bottom: 86px;
}

.company-info {
    max-width: 640px;
}

.company .wrap {
    display: flex;
    justify-content: space-between;
}

.company-info .company-info__heading,
.company-contacts .company-contacts__heading {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
 
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
} 

.company-info .company-info__text,
.company-contacts .company-contacts__text {
    margin: 0;
    padding: 0;
}

.company-info .company-info__text:first-of-type {
    margin-bottom: 29px;
}

.company-info .company-info__text:last-of-type {
    margin-bottom: 17px;
}

.company-info .company-info__list {
    list-style: none;

    margin: 0;
    padding: 0;
    margin-bottom: 37px;
    padding-left: 36px;
}

.company-info .company-info__item:not(:last-child ) {
    margin-bottom: 22px;
}

.company-info .company-info__link {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
}

.company-contacts {
    max-width: 300px;
}

.company-contacts .company-contacts__map {
    margin-bottom: 40px;
}

.company-contacts .company-contacts__text {
    margin-bottom: 34px;
}
/* ===== /company ===== */

/* ===== catalog-page ===== */
.catalog-page .wrap {
    display: flex;
    flex-wrap: wrap;
}

.catalog-page .catalog-page__heading {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;

    width: 100%;
    min-height: 89px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.catalog-page .catalog-page__breadcrumbs {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    
    order: -1;
}

.catalog-page .catalog-page__filter {
    width: 220px;
    margin-right: 20px;
}

.catalog-wrap {
    width: calc(100% - 240px);
    padding-bottom: 60px;
}

.catalog-page .catalog-page__sort {
    max-height: 38px;
    margin-bottom: 20px;
}

.catalog-page .catalog-page__products {
    margin-bottom: 50px;
}
/* ===== /catalog-page ===== */

/* ===== catalog-breadcrumbs ===== */
.catalog-breadcrumbs .catalog-breadcrumbs__list {
    display: flex;

    list-style: none;

    margin: 0;
    padding: 0;
}

.catalog-breadcrumbs .catalog-breadcrumbs__item:not(:nth-child(2)) {
    padding-left: 40px;
}

.catalog-breadcrumbs .catalog-breadcrumbs__item:first-child {
    padding-left: 50px;
}

.catalog-breadcrumbs .catalog-breadcrumbs__list,
.catalog-breadcrumbs .catalog-breadcrumbs__link {
    font-family: 'PT sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}
/* ===== /catalog-breadcrumbs ===== */

/* ===== filter ===== */
.filter {
    font-family: 'PT sans', sans-serif;
}

.filter .filter__heading {
    min-height: 38px;

    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.filter .filter__heading,
.fieldset-price .fieldset-price__range,
.fieldset-price .fieldset-price__value {
    background-color: #f7f3ec;
}

.fieldset-price .fieldset-price__input::placeholder {
   font-size: 17px;
   line-height: 18px;
   font-weight: normal; 
   color: #000000;
}

.filter-form .filter-form__fieldset {
    border: none;

    margin: 0;
    padding: 0;
}

.filter-form .filter-form__fieldset:first-of-type {
    margin-bottom: 26px;
}

.filter-form .filter-form__fieldset:nth-of-type(2) {
    margin-bottom: 22px;
}

.filter-form .filter-form__fieldset:last-of-type{
    margin-bottom: 76px;
}

.fieldset-manufacturers {
    min-height: 262px;
}

.fieldset-price .fieldset-price__legend {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fieldset-price .fieldset-price__range {
    width: 220px;
    min-height: 80px;
    margin-bottom: 9px;
}

.fieldset-price .fieldset-price__value {
    display: inline-block;
}

.fieldset-price__value.min {
    margin-right: 25px;
}

.fieldset-price .fieldset-price__input {
    width: 95px;
    min-height: 38px;

    border: none;
    background-color: transparent;
}

.fieldset-price .fieldset-price__legend,
.fieldset-manufacturers .fieldset-manufacturers__legend,
.filedset-power .filedset-power__legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.fieldset-manufacturers .fieldset-manufacturers__label,
.filedset-power .filedset-power__label {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.fieldset-manufacturers .fieldset-manufacturers__input,
.filedset-power .filedset-power__input {
    display: none;
}

.fieldset-manufacturers .fieldset-manufacturers__list,
.filedset-power .filedset-power__list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.filter-form .filter-form__btn {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    background: none;
}

.fieldset-manufacturers__input:disabled + .fieldset-manufacturers__label,
.filedset-power__input:disabled + .filedset-power__label {
    color: rgba(0, 0, 0, 0.4);
}
/* ===== /filter ===== */

/* ===== sort ===== */
.sort {
    font-family: 'PT sans', sans-serif;
    text-transform: uppercase;

    display: flex;

    background-color: #f7f3ec;
}

.sort .sort__heading {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;

    min-height: 38px;
    margin: 0;
    padding: 0;
}

.sort-form .sort-form__fieldset {
    border: none;

    margin: 0;
    padding: 0;
}

.fieldset-type .fieldset-type__list,
.fieldset-growth .fieldset-growth__list {
    display: flex;

    list-style: none;

    margin: 0;
    padding: 0;
}

.fieldset-type .fieldset-type__label {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #ee3643;
}

.fieldset-type .fieldset-type__label:hover {
    color: #000000;
    
    border: none;
}

.fieldset-type__input:checked + .fieldset-type__label {
    color: #ee3643;

    border: none;
}

.fieldset-type .fieldset-type__input,
.fieldset-growth .fieldset-growth__input {
    display: none;
}
/* ===== /sort ===== */ 

/* ===== catalog-products ===== */ 
.catalog-products .catalog-products__list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;
}

.catalog-products .catalog-products__item {
    display: flex;
    flex-direction: column;

    max-width: 220px;
    min-height: 317px;

    border: 1px solid #e5e5e5;
}

.catalog-products .catalog-products__item:not(:nth-child(3n)) {
    margin-right: 20px;
}

.catalog-products .catalog-products__item:not(:nth-child(n + 7)) {
    margin-bottom: 20px;
}

.products-item .products-item__link {
    display: flex;
    flex-direction: column;
}

.products-item .products-item__img {
    order: -1;
}
/* ===== /catalog-products ===== */ 

/* ===== catalog-pagination ===== */ 
.catalog-pagination .catalog-pagination__list {
    display: flex;

    list-style: none;

    margin: 0;
    padding: 0;
}

.catalog-pagination .catalog-pagination__item:not(:last-child) {
    margin-right: 10px;
}

.catalog-pagination .catalog-pagination__link {
    font-family: 'PT sans', sans-serif;
    font: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-pagination .catalog-pagination__link:hover {
    border-color: #bdc6ca;
}

.catalog-pagination .catalog-pagination__link:active {
    border-color: #ee3643;
}

.catalog-pagination__link.active {
    color: #ffffff;

    background-color: #ee3643;
}
/* ===== /catalog-pagination ===== */ 

/* ===== catalog-description ===== */ 
.catalog-description {
    background-color: #f2f6f8;

    padding-top: 68px;
    padding-bottom: 73px;
}

.catalog-description .catalog-description__headin {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
}

.catalog-description .catalog-description__text {
    margin: 0;
    padding: 0;
}
/* ===== /catalog-description ===== */ 

/* ===== footer ===== */
.footer,
.footer a {
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
}

.footer .footer__top {
    flex-direction: row;

    background-color: #32425c;
}

.footer-top .wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-top .footer-top__inner {
    max-width: 400px;
}

.footer-top .footer-top__logo {
    display: block;
    max-width: 220px;
    min-height: 68px;
    margin-bottom: 29px;
}

.footer-top .footer-top__text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    margin: 0;
    padding: 0;
    padding-left: 3px;
}

.footer-top .footer-top__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    list-style: none;

    max-width: 550px;
    margin: 0;
    padding: 0;
    margin-top: 39px;
}

.footer-top .footer-top__item:not(:last-child):not(:nth-child(5)) {
    margin-right: 59px;
}

.footer-top .footer-top__link {
    font-size: 18px;
    line-height: 24px;
}

.footer-top__item:nth-child(-n + 5) .footer-top__link {
    color: #ffffff;
}

.footer-top__item:nth-child(n + 6) .footer-top__link {
    color: #ffd180;
}

.footer-top__item:nth-child(n + 6) {
    padding-top: 10px;
}

.footer-top__item .footer-top__link:hover {
    text-decoration: underline;
}

.footer-top__item:nth-child(-n + 5) .footer-top__link:active {
    color: rgba(255, 255, 255, 0.5);
}

.footer-top__item:nth-child(n + 6) .footer-top__link:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 107px;
}

.footer-bottom .footer-bottom__copyright,
.footer-dev .footer-dev__text,
.footer-dev .footer-dev__link {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom .footer-bottom__copyright {
    color: #ffffff;

    max-width: 230px;
    margin: 0;
    padding: 0;
}

.footer-dev .footer-dev__text {
    color: #ffffff;
}

.footer-bottom .footer-bottom__inner {
    max-width: 109px;
}

.footer-bottom .footer-bottom__society {
    font-size: 0;

    list-style: none; 

    margin: 0;
    padding: 0;
}

.footer-bottom .footer-bottom__link {
    background-color: #212a3a;
}

.footer-bottom .footer-bottom__link:hover,
.footer-bottom .footer-bottom__link:active {
    background-color: #ee3643;
}

.footer-dev .footer-dev__link {
    color: #ffd180;
}

.footer-dev .footer-dev__link:hover {
    text-decoration: underline;
}

.footer-dev .footer-dev__link:active {
    text-decoration: none;
    color: #ee3643;
}
/* ===== /footer ===== */

.writeus-popup,
.map-popup,
.add-popup {
    display: none;
}